
table {
    width: 100%;
    background-color: rgb(247, 245, 245);
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 90%;
  }
  
  .container {
    max-width: 1200px !important;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .demo-nav-bar {
    border: 1px solid #eaea0b;
    margin-bottom: 10px;
    background-color: cadetblue;
  
  }