<div>
  <mat-toolbar class="header-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Unjha Spices Inventory System</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-tab-group>
    <mat-tab label="Orders">
      <app-orders></app-orders>
    </mat-tab>
    <mat-tab label="Traking">
      <app-order-traking></app-order-traking>
    </mat-tab>
  </mat-tab-group>
</div>