.example-spacer {
    flex: 1 1 auto;
  }
.header-toolbar {
    background-color: rgb(171, 252, 190);
}
table {
  width: 90%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 90%;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto;
}
